build --color=yes

# toolchain selection: vm (bytecode), sys (nativecode) E.g. to compile
# with ocamlc.opt, pass --config=sysvm (sys to vm). this means:
# cross-compile from sys platform (native code) to vm (bytecode).

## IMPORTANT: --host_platform sets buildhost; --platforms sets targethost

# default platform is sys for both buildhost and targethost

build:vm --platforms=@ocaml//platforms:vm

build:vmvm --host_platform=@ocaml//platforms:vm
build:vmvm --platforms=@ocaml//platforms:vm

build:sysvm --host_platform=@ocaml//platforms:sys
build:sysvm --platforms=@ocaml//platforms:vm

build:vmsys --host_platform=@ocaml//platforms:vm
build:vmsys --platforms=@ocaml//platforms:sys

build:syssys --host_platform=@ocaml//platforms:sys
build:syssys --platforms=@ocaml//platforms:sys

try-import .config/dev.bazelrc
try-import .config/user.bazelrc
